{% extends "registration/base.html" %}

{% block body1_block%}
    <l1><a href="{% url 'home'%}" class = "navbar-link">Home</a></l1>
    <l1><a href="{% url 'admin:index'%}" class = "navbar-link">Admin</a></l1>
    <l1><a href="{% url 'registration:register_employee'%}" class = "navbar-link">Register</a></l1>
    <l1><a href="{% url 'registration:login'%}" class="navbar-link">Login</a></l1>
{% endblock %}

{% block body_block %}

    <div class = "jumbotron">
        <h1>STOCK INVENTORY SYSTEM</h1>
    </div>
    <div class="creatorsIntro">
        <h2>Meet the Creators</h2>
    </div>
    <div class = "creatorsCard">
        <div class="card" style="width: 18rem;">
          <img src="https://scontent.fceb4-1.fna.fbcdn.net/v/t39.30808-6/243813623_2066170776867967_7416060453360374554_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEgZwFanNruslzrHVlbjqEi5aD-W3G1Ni3loP5bcbU2LZkp0Cqno36Ojw-Wfsj0GGLGqy_1ly86BADCcqe_HnAr&_nc_ohc=EYVn9xtueQIAX_JtGTY&_nc_ht=scontent.fceb4-1.fna&oh=00_AT-K5G8yweT7J-EUgAGMZDFNofnzHwLgQavMI8zFcy2g4g&oe=635106BE" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">PAMELA CAÑEDO</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://scontent.fceb4-1.fna.fbcdn.net/v/t39.30808-6/296374161_5005118996281643_2139759626661327996_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFXkLYLU79SUu4K8N-NXXa7xeDHFWiuOwfF4McVaK47Bz942xNBoFLcQJvH2CMY7BYhO08KjMeeWplhJYjNfUp1&_nc_ohc=QULZIxHNXscAX_Y24Ce&_nc_ht=scontent.fceb4-1.fna&oh=00_AT_3LZT6rhgaGm2T_pDkpJtnqCIAayk-BLa-DbAslnFW6w&oe=63516816" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">ANGELYN RABE</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://scontent.fceb4-1.fna.fbcdn.net/v/t39.30808-6/305934807_6270115336336049_6392656775740399066_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFwJ2l0lytdrXOETzSB0PHxrPrZHc4bmCCs-tkdzhuYIJ7rXbd5u79IMQdXKvx0l3Qp5HdcTWuXtToTwMfCzHC0&_nc_ohc=jiGMXz9RiiQAX9Y5SSH&_nc_ht=scontent.fceb4-1.fna&oh=00_AT_N4kSj6WAPb_cKs2Hp-qwuULHndHOZg_8R8IPYAB2bKg&oe=63525121" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">RUSSEL HARVEY MERCADO IV</p>
          </div>
        </div>
    </div>


{% endblock %}