{% extends 'registration/base.html' %}

{% block body1_block%}
    <l1><a href="{% url 'registration:register_employee'%}" class = "navbar-link">Register</a></l1>
{% endblock %}

{% block body_block %}

    <div class = "jumbotron">
        <h1>Please login</h1>
            {% if msg != '' %}
                {{msg}}
            {% endif %}
            <form method="POST">
                 {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name = "username" placeholder="Enter Username">
                <label for="password">Password:</label>
                <input type="password" name = "password">
                <input type="Submit" value="Login">
            </form>
    </div>
{% endblock %}