{% extends 'registration/base.html'%}

{% block body1_block %}
    <l1><a href="{% url 'user_home'%}" class = "navbar-link">Home</a></l1>
    <l1><a href="{% url 'salesrecord:sales_record'%}" class="navbar-link">Add Record</a></l1>
    <l1><a href="{% url 'add_supplier:supplier'%}" class="navbar-link">Add Supplier</a></l1>
    <l1><a href="{% url 'addproduct:add_product'%}" class="navbar-link">Add Product</a></l1>
    <l1><a href="{% url 'logout'%}" class="navbar-link">Logout</a></l1>

{% endblock %}

{% block body_block %}

<div class = "jumbotron">
    <div class = "greetings">
        <h3>Hello, <em>{{request.session.username}}</em></h3>
    </div>
    <div class = "jumbotron">
        <div class = "recordslist">
            <h4>Sales Record</h4>
            {% if records %}
            <table>
                <thead>
                    <th>Sales ID</th>
                    <th>Customer ID</th>
                    <th>Employee ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Date Of Sale</th>
                </thead>
                {% for rec in records %}
                <tr>
                    <td>{{ rec.salesID }}</td>
                    <td>{{ rec.cUser_ID.user_ptr_id }}</td>
                    <td>{{ rec.eUser_ID.user_ptr_id }}</td>
                    <td>{{ rec.product_ID }}</td>
                    <td>{{ rec.quantity }}</td>
                    <td>{{ rec.dateOfSale }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No  Sales Records Found!</p>
            {% endif %}
        </div>
            <div class = "jumbotron">
                <div class="recordslist">
                    <h4>Suppliers</h4>
                    {% if suppliers %}
                    <table>
                        <thead>
                            <th>Company Name</th>
                            <th>Address</th>
                            <th>Contacts</th>

                        </thead>
                        {% for rec in suppliers %}
                        <tr>
                            <td>{{ rec.companyName }}</td>
                            <td>{{ rec.address }}</td>
                            <td>{{ rec.contact }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p>No  Suppliers Found!</p>
                    {% endif %}
                </div>
            </div>
            <div class = "recordslist">
            <h4>Products</h4>
            {% if products %}
            <table>
                <thead>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Supplier</th>
                </thead>
                {% for rec in products %}
                <tr>
                    <td>{{ rec.product_ID}}</td>
                    <td>{{ rec.prodQty }}</td>
                    <td>{{ rec.prodPrice }}</td>
                    <td>{{ rec.supplier_ID }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No  Products Found!</p>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}