{% extends 'registration/base.html'%}

{% block body1_block %}
    <l1><a href="{% url 'user_home'%}" class = "navbar-link">Home</a></l1>
    <l1><a href="{% url 'salesrecord:sales_record'%}" class="navbar-link">Add Record</a></l1>
    <l1><a href="{% url 'add_supplier:supplier'%}" class="navbar-link">Supplier</a></l1>
    <l1><a href="{% url 'addproduct:add_product'%}" class="navbar-link">Product</a></l1>
    <l1><a href="{% url 'registration:editProfile'%}" class="navbar-link">Profile</a></l1>
    <l1><a href="{% url 'logout'%}" class="navbar-link">Logout</a></l1>

{% endblock %}

{% block body_block %}

<div class = "jumbotron">
    <div class = "greetings">
        <h3>Hello, <em>{{request.session.username}}</em></h3>
    </div>
    <div class = "jumbotron">
        <div class = "recordslist">
            <h4>Sales Record</h4>
            {% if records %}
            <table>
                <thead>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Date Of Sale</th>
                </thead>
                {% for rec in records %}
                <tr>
                    <td>{{ rec.product_ID }}</td>
                    <td>{{ rec.quantity }}</td>
                    <td>{{ rec.product_ID.prodPrice }}</td>
                    <td>{{ rec.dateOfSale }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No  Sales Records Found!</p>
            {% endif %}
            </div>
    </div>
</div>

{% endblock %}