{% extends 'registration/base.html'%}

{% block body1_block %}
    <l1><a href="{% url 'user_home'%}" class = "navbar-link">Home</a></l1>
    <l1><a href="{% url 'salesrecord:sales_record'%}" class="navbar-link">Add Record</a></l1>
    <l1><a href="{% url 'add_supplier:supplier'%}" class="navbar-link">Add Supplier</a></l1>
    <l1><a href="{% url 'logout'%}" class="navbar-link">Logout</a></l1>

{% endblock %}

{% block body_block %}

<div class = "jumbotron">
    <div class = "greetings">
        <h3>Hello, {{user_name}}</h3>
    </div>

</div>

{% endblock %}