{% extends 'registration/base.html'%}

{% block body1_block %}

    <l1><span class = "user_name">{{request.session.username}}</span></l1>
    <l1><a href="{% url 'user_home'%}" class = "navbar-link">Home</a></l1>

{% endblock %}

{% block body_block %}
    <div class = "jumbotron supplyContainer">
        <div class = "forms"><form method="post">
            {{form.as_p}}
            {% csrf_token %}
        <input type="submit" value="Add Supplier" class = "button">
        <input type="submit" value="Edit Supplier" class = "button">
        </form>
        </div>
        <div class = "recordslist">
        {% if records %}
        <table class = "scroll_container" cellspacing="2">
            <thead class = "scroll_head">
            <th>Company Name</th>
            <th>Address</th>
            <th>Mobile Number</th>
            <th colspan="2"></th>
            </thead>
            {% for rec in records %}
                <tr>
                    <td>{{ rec.companyName }}</td>
                    <td>{{ rec.address }}</td>
                    <td>{{ rec.mobileNumber }}</td>
                    <td><a href="{% url 'add_supplier:supplier'%}"> Edit </a> </td>
                    <td><a href="{% url 'add_supplier:delete_supplier' rec.supplier_ID %}"> Delete </a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No Suppliers!</p>
        {% endif %}
    </div></div>
{% endblock %}