{% extends 'registration/base.html'%}

{% block body1_block %}

    <l1><span class = "user_name">{{request.session.username}}</span></l1>
    <l1><a href="{% url 'user_home'%}" class = "navbar-link">Home</a></l1>

{% endblock %}

{% block body_block %}
    <div class = "jumbotron">
        <div class = "forms">
        <form method="post">
                {{form.as_p}}
                {% csrf_token %}
            <input type="submit" value="Add Supplier">
        </form>
        </div>
        <div class = "recordslist">
            {% if records %}
            <table class = "scroll_container">
                <thead class = "scroll_head">
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>Mobile Number</th>
                </thead>
                <tbody>
                {% for rec in records %}
                    <tr>
                        <td>{{ rec.companyName }}</td>
                        <td>{{ rec.address }}</td>
                        <td>{{ rec.mobileNumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No Suppliers!</p>
            {% endif %}
        </div>
    </div>

{% endblock %}