*{
    box-sizing: border-box;
}

.navbar-link{
    border: 2px solid black;
    padding: 10px;
}

.navbar-link:hover{
    text-decoration: none;
}

.greetings{
    font-family: Courier New;
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
}

.greetings *{
    text-align: center;
}

a:hover{
    color:orange;
}

.user_name{
    color: orange;
    font-weight: bolder;
    padding-right: 20px;
}

table, td, th{
    font-family: Courier New;
    text-align: center;
    vertical-align: middle;
}

td, th{
    padding: 10px;
}

h4{
    font-family: Courier New;
    font-weight: bold;
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

.recordslist{
    display: flex;
    width: 60%;
    margin: 15px auto;
    flex-direction: column;
    align-items: center;
    background-color: #fff7ed;
}

.scroll_container{
  border: 2px solid black;
  display: block;
  margin: 0 auto;
  height: 150px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scroll_head{
    background-color: orange;
    position: sticky;
    top: 0px;
}

.scroll_head *{
    color: #fff;
}

.forms *{
    display: block;
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545455;
}

