.navbar-link{
    border: 2px solid black;
    padding: 10px;
}

.navbar-link:hover{
    text-decoration: none;
}

.greetings{
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
}
.greetings *{
    text-align: center;
    font-weight: bolder;
}

.user_name{
    font-weight: bolder;
    padding-right: 20px;
}

table, td, th{
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
}

td, th{
    padding: 10px;
}

.recordslist{
    display: flex;
    width: 60%;
    margin: 15px auto;
    flex-direction: column;
    align-items: center;
    background-color: #fff7ed;
}

