{% extends 'registration/base.html'%}

{% block body1_block %}
    <l1><span class = "user_name">{{request.session.username}}</span></l1>
    <l1><a href="{% url 'user_home'%}" class = "navbar-link">Home</a></l1>
{% endblock %}


{% block body_block %}
    <div class = "jumbotron">
        <form method="post">
            <div class = "forms">
                {{form.as_p}}
            {% csrf_token %}
            {% if not edit_On %}
            <input type="submit" value="Add Product" class="button">
            {% else %}
            <input type="submit" value="Edit Product" class="button">
            {% endif %}
            </div>
        </form>
        </div>
        <div class = "recordslist">
            {% if records %}
        <table class = "scroll_container" cellspacing="2">
            <thead class = "scroll_head">
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Product Price</th>
            <th colspan="2"></th>
            </thead>
            {% for rec in records %}
                <tr>
                    <td>{{ rec.prodName}}</td>
                    <td>{{ rec.prodQty }}</td>
                    <td>{{ rec.prodPrice }}</td>
                    <td><a href="{% url 'addproduct:edit_product' rec.product_ID %}"> Edit </a> </td>
                    <td><a href="{% url 'addproduct:delete_product' rec.product_ID %}"> Delete </a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No Product Found!</p>
        {% endif %}
    </div>
</div>
{% endblock %}